<div class="sign_in_form hidden">
  <h3 class="login">Введіть логін</h3>
  <!-- <input type="text" class="sign_in_login" placeholder="admin" /> -->
  <input type="text" class="sign_in_login" placeholder="testcards@gmail.com" />
  <h3 class="pass">Введіть пароль</h3>
  <!-- <input type="password" class="sign_in_pass" placeholder="12345zxc" /> -->
  <input type="password" class="sign_in_pass" placeholder="436687"/>
  <button type="button" class="sign_in_form_btn">Go!</button>
</div>
