<form class="main__search">
  <div class="main__style">
    <input
      class="search__title"
      type="text"
      name="search__title"
      placeholder="пошук за заголовком/змістом візиту"
    />
    <div class="selects">
      <select class="search__completed shadow">
        <option value="null">- вибрати статус візиту -</option>
        <option value="open">Заплановано</option>
        <option value="done">Виконано</option>
      </select>
      <select class="search__urgency shadow">
        <option value="null">- вибрати терміновість візиту -</option>
        <option value="high">Невідкладна</option>
        <option value="normal">Пріоритетна</option>
        <option value="low">Звичайна</option>
      </select>
    </div>
  </div>

  <!-- <div class="search__btn">
      <button class="btn-search btn shadow">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div> -->
</form>
