<header class="header">
    <div class="container">
      <!--  -->
      <!-- <button type="button" class="del_card">DELETE CARD</button>
      <input type="text" class="del_card_id" placeholder="enter ID to del"> -->
      <!--  -->
      <div class="header__row">
        <a href="#" class="logo__link">
          <img class="logo" src="@img/210-2102896_healthcare-png-photos-transparent-clipart-of-health.jpg" alt="logo" />
        </a>
        <div class="conteiner">
            <nav class="navbar">
                <ul class="navbar-list">
                    <li><a class="nav-option about" href="#">Про нас</a></li>
                    <li><a class="nav-option" href="#">Лікарі</a></li>
                    <li><a class="nav-option" href="#">Ціни та послуги</a></li>
                    <li><a class="nav-option" href="#">Контакти</a></li>
                </ul>
            </nav>
        </div>
        <div class="container__btns">
          <!-- Эти кнопки должны появляться, когда вошли в аккаунт -->
          <button
            class="create-btn btn hidden">
            Створити візит
          </button>
          <!-- <button class="logout-btn btn">Вийти</button> -->
          
          <!-- Эта кнопка должна прятаться, когда вошли в аккаунт -->
          <button
            class="login-btn btn">
            Вхід
          </button>
          <!-- модальное окно -->
          @@include('./form_login.html')
        </div>
      </div>
    </div>
  </div>
</header>
