<main class="main">
    <div class="container">
      <div class="main__row">
        <section class="main__content">
          @@include('./form_search.html')
          @@include('./modal.html')
          @@include('./visits_block.html')
        </section>
      </div>
    </div>
  </main>
  