<div class="modal hidden">
  <h3 class="modal__titles">Виберіть лікаря</h3>
  <select class="modal__doctor">
    <option value="cardio" selected>Кардіолог</option>
    <option value="dentist">Стоматолог</option>
    <option value="thera">Терапевт</option>
  </select>
  <h3 class="modal__titles">Мета візиту</h3>
  <textarea class="modal_goal" cols="30" rows="2"></textarea>
  <h3 class="modal__titles" aria-placeholder="Опишіть Ваші скарги">
    Короткий опис візиту
  </h3>
  <textarea class="modal__description" cols="30" rows="2"></textarea>
  <h3 class="modal__priority_titles">Терміновість</h3>
  <select class="modal__priority">
    <option value="Звичайна" selected>Звичайна</option>
    <option value="Пріоритетна">Пріоритетна</option>
    <option value="Невідкладна">Невідкладна</option>
  </select>

  <h3 class="modal__titles">ПІБ</h3>
  <input type="text" class="modal__name" />
  <h3 class="modal__pressure_titles">Звичайний тиск</h3>
  <input type="text" class="modal__pressure" />
  <h3 class="modal__weight_titles">Індекс маси тіла</h3>
  <input type="text" class="modal__weight" />
  <h3 class="modal__heart_titles">
    Перенесені захворювання серцево-судинної системи
  </h3>
  <textarea class="modal__heart" cols="30" rows="2"></textarea>
  <h3 class="modal__age_titles">Вік</h3>
  <input type="text" class="modal__age" />
  <h3 class="modal__last_visit_titles hidden">Дата останнього відвідування</h3>
  <input type="text" class="modal__last_visit hidden" />
  <h3 class="modal__status_titles">Вибрати статус візиту</h3>
  <select class="modal__status">
    <option value="Заплановано" selected>Заплановано</option>
    <option value="Виконано">Виконано</option>
  </select>
  <button type="button" class="modal__yes">Створити</button>
  <button type="button" class="modal__no">Закрити</button>
</div>
<!-- добавить визит блок -->
