<div class="visits__block">
  <!-- При первом посещении пользователем страницы, на доске должна быть надпись No items have been added. Эта же надпись должна быть, если у пользователя нету ни одной добавленной карточки (например, он их все удалил). -->
  
  <div class="missing__elements">No items have been added</div>
  
    <!-- <div class="visit shadow hidden">
        <div class="visit__btn-control">
          <button class="btn-more" alt="more info">
            <i class="fa-thin fa-memo-circle-info"></i>
          </button>
          <button class="btn-edit">
            <i class="fa-light fa-pen-to-square"></i>
          </button>
          <button class="btn-delete">
            <i class="fa-thin fa-trash-can-xmark"></i>
          </button>
        </div>
        <div class="visit__fullname">Коваленко Петро</div>
        <div class="visit__doctor"><b>Кардіолог</b></div>
        <div class="visit__more-info">
          <div class="visit__purpose">
            Мета візиту:
            <span class="purpose__value"></span>
          </div>
          <div class="visit__brief">
            Короткий опис візиту:
            <span class="brief__value"></span>
          </div>
          <div class="visit__urgency">
            Терміновість візиту:
            <span class="urgency__value"></span>
          </div>
          <div class="visit__pressure">
            Звичайний тиск:
            <span class="pressure__value"></span>
          </div>
          <div class="visit__mass-index">
           Вага:
            <span class="mass-index__value"></span>
          </div>
          <div class="visit__disease">
            Перенесені захворювання серцево-судинної системи:
            <span class="disease__value"></span>
          </div>
          <div class="visit__age">
            Вік:
            <span class="age__value"></span>
          </div>
          <div class="visit__last-date-visit">
            Дата останнього візиту:
            <span class="last-date-visit__value"></span>
          </div>
        </div>
      </div> -->
    
</div>


  