.main__style {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
.search__completed {
  background-color: rgba(111, 6, 6, 0.516);
  border-radius: 10px;
  width: 214px;
  height: 30px;
}
.search__urgency {
  width: 264px;
  height: 30px;
  background-color: rgba(111, 6, 6, 0.516);
  border-radius: 10px;
}
.search__title {
  width: 483px;
  height: 30px;
  border-radius: 5px;
  border-color: rgba(111, 6, 6, 0.516);
}
