body {
  background-color: #f6f6f6;
}
a {
  all: unset;
}
.logo {
  height: 90px;
}
.logo__link {
  margin-top: 29px;
  margin-bottom: 49px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  padding-right: 120px;
  list-style-type: none;
 
  @media (max-width: 1200px) {
    gap: 40px;
  }
}
.nav-option {
  color: #080808;
  font-weight: 700;
  font-size: 20px;
}
.about {
  color: rgb(192, 2, 2);
}
.container__btns {
  margin-bottom: 15px;
}
.login-btn {
  background-color: rgb(192, 2, 2);
  width: 150px;
  border-radius: 10px;
  color: #ffff;
  font-weight: 700;
  font-size: 20px;
}
.create-btn {
  background-color: rgb(192, 2, 2);
  width: 200px;
  border-radius: 10px;
  color: #ffff;
  font-weight: 700;
  font-size: 20px;
}
