.modal {
  color: rgb(98, 3, 3);
  font-style: italic;
 
}
.modal__status {
  margin-bottom: 7px;
}
.modal__yes {
  margin-bottom: 7px;
  padding: 5px;
  background-color: rgb(206, 130, 130);
}
.modal__no {
  margin-bottom: 9px;
  padding: 5px 10px 4px 10px;
  background-color: rgb(206, 130, 130);
}

