.visits__block {
  border: 1px solid rgba(111, 6, 6, 0.516);
  padding: 15px;
  background-color: rgba(145, 4, 4, 0.692);
  border-radius: 4px;
}
.visit {
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgb(241, 247, 249);
}

.missing__elements {
  text-align: center;
  padding-top: 200px;
}
.visit__btn-control {
  display: flex;
  justify-content: end;
  align-items: center;
}
.btn-edit {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(145, 4, 4, 0.692);
}
.btn-delete {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(145, 4, 4, 0.692);
}
.btn-more {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(145, 4, 4, 0.692);
}
