@import "template/header";
@import "template/form_login";
@import "template/main";
@import "template/form_search";
@import "template/visit_block";
@import "template/footer";
@import "template/modal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ---------------------------------------------------------
.sign_in_form,
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 190px;
  position: fixed;
  top: 200px;
  left: calc(50vw - 150px);
  background-color: rgb(233, 229, 229);
  border-radius: 10px;
  border: 2px solid rgba(145, 4, 4, 0.964);
}

.sign_in_form_btn {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

// ---------------------------------------------------------
.modal {
  width: 500px;
  height: 650px;
  left: calc(50vw - 250px);
  top: calc(50vh - 300px);
  font-size: 18px;
}

.modal__titles,
.modal__pressure_titles,
.modal__weight_titles,
.modal__heart_titles,
.modal__age_titles,
.modal__last_visit_titles,
.modal__priority_titles,
.modal__status_titles {
  font-size: 18px;
}

// ---------------------------------------------------------

.hidden {
  display: none;
}
